.contacto {
    grid-column: 7/12;
    box-sizing: border-box;
    margin: 10px 20px 10px 0;
    text-align: center;
    animation-duration: 3s;
    animation-name: form;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 3px solid $color3;
    box-sizing: border-box;
    padding: 5px;
    .contacto__h3 {
        box-sizing: border-box;
        font-size: 40px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    .contacto__form {
        box-sizing: border-box;
        margin: 5px 0;
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .contacto__breset {
        box-sizing: border-box;
        width: 100px;
        border-radius: 5px;
        margin-left: 320px;
        cursor: pointer;
    }
    .contacto__bsubmit {
        @extend .contacto__breset;
        margin-bottom: 5px;
    }
    @keyframes form {
        0% {
            opacity: 0;
        }
        25% {
            opacity: .25;
        }
        50% {
            opacity: .5;
        }
        75% {
            opacity: .75;
        }
        100% {
            opacity: 1;
        }
    }
}